<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MercadolLiebre</title>
	<link rel="stylesheet" href="styles/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
	<header>
		<img class="logo" src="images/logo-mercado-liebre.svg">

		<div class="buscador">
			<form action="index.html" method="POST">
				<input type="text" name="search" id="search" placeholder="Buscar...">
				<button></button>
			</form>
		</div>

		<p>Buscar productos, marcas y más. Comprá en cuotas y sin tarjeta de crédito</p>
		
		<nav>
			<ul>
				<li><a href="">Ofertas</a></li>
				<li><a href="">Tiendas Oficiales</a></li>
				<li><a href="">Vender</a></li>
				<li><a href="">Ayuda</a></li>
				<br>
				<li><a href="/register">Creá tu Cuenta <i class="fa fa-address-card"></i></a></li>
				<li><a href="/login">Ingresá <i class="fa  fa-sign-in-alt"></i></a></li>
				<li><a href="">Mis Compras <i class="fa fa-shopping-basket"></i></i></a></li>
			</ul>		
		</nav>

		<div>
			<button class="menu">
				​<i class="fasfa-bars"></i>
			</button>
		</div>
	</header>

	<section>
		<img class="banner" src="images/img-home-banner.jpg">
	</section>

	<main>
		<section>
			<h2 class="ofertas">Basado en tu última visita</h3>

			<article class="producto">
				<img src="images/img-cafetera-moulinex.jpg" alt="Imagen del producto">
				<div><i class="fa fa-truck camion"></i></div>
				<div class="precio">$6.770</div>
				<div class="descuento">40% OFF</div>
				<div class="descripcion">Cafetera Moulinex Dolce Gusto</div>
			</article>

			<article class="producto">
				<img src="images/img-macbook-pro-2019.jpg" alt="Imagen del producto">
				<div><i class="fa fa-truck camion"></i></div>
				<div class="precio">$150.970</div>
				<div class="descuento">10% OFF</div>
				<div class="descripcion">Macbook Pro 2019</div>
			</article>

			<article class="producto">
				<img src="images/img-tv-samsung-smart.jpg" alt="Imagen del producto">
				<div><i class="fa fa-truck camion"></i></div>
				<div class="precio">$54.230</div>
				<div class="descuento"></div>
				<div class="descripcion">Televisor Samsung Smart TV</div>
			</article>

			<article class="producto">
				<img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen del producto">
				<div><i class="fa fa-truck camion"></i></div>
				<div class="precio">$89.410</div>
				<div class="descuento">20% OFF</div>
				<div class="descripcion">Samsung Galaxy s10</div>
			</article>
		</section>

		<section>
			<h2 class="ofertas">Ofertas</h3>

			<article class="producto">
				<img src="images/img-cafetera-moulinex.jpg" alt="Imagen del producto">
				<div><i class="fa fa-truck camion"></i></div>
				<div class="precio">$6.770</div>
				<div class="descuento">40% OFF</div>
				<div class="descripcion">Cafetera Moulinex Dolce Gusto</div>
			</article>

			<article class="producto">
				<img src="images/img-macbook-pro-2019.jpg" alt="Imagen del producto">
				<div><i class="fa fa-truck camion"></i></div>
				<div class="precio">$150.970</div>
				<div class="descuento">10% OFF</div>
				<div class="descripcion">Macbook Pro 2019</div>
			</article>

			<article class="producto">
				<img src="images/img-tv-samsung-smart.jpg" alt="Imagen del producto">
				<div><i class="fa fa-truck camion"></i></div>
				<div class="precio">$54.230</div>
				<div class="descuento"></div>
				<div class="descripcion">Televisor Samsung Smart TV</div>
			</article>

			<article class="producto">
				<img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen del producto">
				<div><i class="fa fa-truck camion"></i></div>
				<div class="precio">$89.410</div>
				<div class="descuento">20% OFF</div>
				<div class="descripcion">Samsung Galaxy s10</div>
			</article>
		</section>
	</main>


	<footer>
		<article>
			<i class="fa fa-credit-card-alt"></i>
			<h3>Pagá con tarjeta o en efectivo</h3>
			<p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
			</p>
		</article>

		<article>
			<h3>Envío gratis desde $ 1.999</h3>
			<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
			</p>
		</article>

		<article>
			<h3>Seguridad, de principio a fin</h3>
			<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.
			</p>
		</article>

		<div>
			<p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
		</div>
	</footer>
</body>
</html>